.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.bottomHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.tabs{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.connectButton{
  display: flex;
  width: 100%;
}
